[Unit]
Description=Immich Machine Learning

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v2
AutoUpdate=registry

Network=db.network
Network=apps.network
NetworkAlias=immich-machine-learning

Volume=immich-model-cache.volume:/cache

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
