{
	debug
	admin off
	email hovirix@tutanota.com
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

(security_headers) {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "geolocation=(), microphone=(), camera=()"
	}
}

(authentik) {
	route {
		# Forward outpost paths directly
		reverse_proxy /outpost.goauthentik.io/* http://authentik-server:9000

		# Forward auth requests to authentik
		forward_auth http://authentik-server:9000 {
			uri /outpost.goauthentik.io/auth/caddy

			copy_headers
			X-Authentik-Username
			X-Authentik-Groups
			X-Authentik-Entitlements
			X-Authentik-Email
			X-Authentik-Name
			X-Authentik-Uid
			X-Authentik-Jwt
			X-Authentik-Meta-Jwks
			X-Authentik-Meta-Outpost
			X-Authentik-Meta-Provider
			X-Authentik-Meta-App
			X-Authentik-Meta-Version

			trusted_proxies private_ranges
		}
	}
}

idp.nemnix.site {
	encode zstd gzip
	import security_headers
	reverse_proxy authentik-server:9000
}

vault.nemnix.site {
	encode zstd gzip
	import security_headers
	reverse_proxy vaultwarden:80
}
