[Unit]
Description=Caddy reverse proxy

[Container]
Image=docker.io/caddybuilds/caddy-cloudflare:alpine

Network=proxy.network
Network=apps.network

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

Secret=CLOUDFLARE_API_TOKEN,type=env,target=CLOUDFLARE_API_TOKEN

Volume=./Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=caddy-data.volume:/data:Z
Volume=caddy-config.volume:/config:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
	
