[Unit]
Description=Authentik Server

[Container]
Image=ghcr.io/goauthentik/server:2025.12.4
Exec=server

Environment=AUTHENTIK_POSTGRESQL__HOST=postgres
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_POSTGRESQL__USER=authentik

Secret=AUTHENTIK_SECRET_KEY,type=env,target=AUTHENTIK_SECRET_KEY
Secret=AUTHENTIK_POSTGRESQL__PASSWORD,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD

Network=db.network
Network=apps.network
NetworkAlias=authentik-server

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
