[Unit]
Description=Vaultwarden quadlet
Requires=apps.network vaultwarden-data.volume
After=apps.network vaultwarden-data.volume

[Container]
Image=ghcr.io/dani-garcia/vaultwarden:latest
AutoUpdate=registry

Network=apps
NetworkAlias=vaultwarden

# Environment=SIGNUPS_ALLOWED=false
Environment=DOMAIN=https://nemnix.site

Volume=vaultwarden-data.volume:/data:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
