[Unit]
Description=Vaultwarden quadlet

[Container]
Image=ghcr.io/dani-garcia/vaultwarden@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b

Network=apps.network
NetworkAlias=vaultwarden

# Environment=SIGNUPS_ALLOWED=false
Environment=DOMAIN=https://nemnix.site

Volume=vaultwarden-data.volume:/data:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
