[Unit]
Description=Authentik Worker
Requires=authentik-server.container
After=authentik-server.container

[Container]
Image=ghcr.io/goauthentik/server:2025.10.3
Exec=worker

Environment=AUTHENTIK_POSTGRESQL__HOST=postgres
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_POSTGRESQL__USER=authentik

Secret=AUTHENTIK_SECRET_KEY,type=env,target=AUTHENTIK_SECRET_KEY
Secret=AUTHENTIK_POSTGRESQL__PASSWORD,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD

Network=apps.network

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
