[Unit]
Description=Authentik Server
Requires=postgres.container db.network apps.network
After=postgres.container db.network apps.network

[Container]
Image=ghcr.io/goauthentik/server:2025.10.3
Command=server

EnvFile=./authentik.env

Network=db
Network=apps
NetworkAlias=authentik-server

Volume=./media:/media
Volume=./custom-templates:/templates

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
