[Unit]
Description=Authentik Worker
Requires=postgres.container db.network
After=postgres.container db.network

[Container]
Image=ghcr.io/goauthentik/server:2025.10.3
Command=worker

EnvFile=./authentik.env

Network=db

Volume=./media:/media
Volume=./certs:/certs
Volume=./custom-templates:/templates

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
