[Unit]
Description=n8n quadlet
Requires=postgres.container
After=postgres.container

[Container]
Image=docker.n8n.io/n8nio/n8n@sha256:53004142b0e93de1e9e31943e601ed9bd4b24ca82a307864ccadf1820b627e5e

Environment=GENERIC_TIMEZONE=UTC
Environment=TZ=UTC

Environment=N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
Environment=N8N_RUNNERS_ENABLED=true

Environment=DB_TYPE=postgresdb
Environment=DB_POSTGRESDB_DATABASE=n8n
Environment=DB_POSTGRESDB_HOST=postgres
Environment=DB_POSTGRESDB_PORT=5432
Environment=DB_POSTGRESDB_USER=n8n

Secret=N8N_POSTGRESQL__PASSWORD,type=env,target=DB_POSTGRESDB_PASSWORD

Network=db.network
Network=apps.network
NetworkAlias=n8n

Volume=n8n-data.volume:/home/node/.n8n

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
