[Unit]
Description=Linkwarden quadlet
Requires=postgres.container linkwarden-meilisearch.container
After=postgres.container linkwarden-meilisearch.container

[Container]
Image=ghcr.io/linkwarden/linkwarden@sha256:1588811d7b7d249d387782bb94c7eb189082b82b542ac1667d2ac3d7e7f70ce6

Environment=MEILI_HOST=http://linkwarden-meilisearch:7700
Environment=NEXTAUTH_URL=https://linkwarden.nemnix.site/api/v1/auth

Environment=NEXT_PUBLIC_CREDENTIALS_ENABLED=false
Environment=NEXT_PUBLIC_AUTHENTIK_ENABLED=true
Environment=AUTHENTIK_ISSUER=https://idp.nemnix.site/application/o/linkwarden

Secret=NEXTAUTH_SECRET,type=env,target=NEXTAUTH_SECRET
Secret=LINKWARDEN_DATABASE_URL,type=env,target=DATABASE_URL
Secret=MEILI_MASTER_KEY,type=env,target=MEILI_MASTER_KEY
Secret=MEILI_MASTER_KEY,type=env,target=MEILI_MASTER_KEY

Secret=AUTHENTIK_CLIENT_ID,type=env,target=AUTHENTIK_CLIENT_ID
Secret=AUTHENTIK_CLIENT_SECRET,type=env,target=AUTHENTIK_CLIENT_SECRET

Network=db.network
Network=apps.network
NetworkAlias=linkwarden

Volume=linkwarden-data.volume:/data/data:Z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
