[Unit]
Description=Linkwarden quadlet
Requires=postgres.container linkwarden-meilisearch.container
After=postgres.container linkwarden-meilisearch.container

[Container]
Image=ghcr.io/linkwarden/linkwarden:latest
AutoUpdate=registry

Environment=MEILI_HOST=http://linkwarden-meilisearch:7700
Secret=MEILI_MASTER_KEY,type=env,target=MEILI_MASTER_KEY

Environment=NEXTAUTH_URL=https://linkwarden.nemnix.site/api/v1/auth

Secret=NEXTAUTH_SECRET,type=env,target=NEXTAUTH_SECRET
Secret=MEILI_MASTER_KEY,type=env,target=MEILI_MASTER_KEY
Secret=LINKWARDEN_DATABASE_URL,type=env,target=DATABASE_URL

Network=db.network
Network=apps.network
NetworkAlias=linkwarden

Volume=linkwarden-data.volume:/data/data:Z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
