[Unit]
Description=Grafana quadlet
Requires=postgres.container
After=postgres.container

[Container]
Image=docker.io/grafana/grafana
AutoUpdate=registry

Network=apps.network
Network=db.network
NetworkAlias=grafana

Environment=GF_SERVER_ROOT_URL=https://grafana.nemnix.site/
Environment=GF_DATABASE_TYPE=postgres
Environment=GF_DATABASE_HOST=postgres:5432
Environment=GF_DATABASE_NAME=grafana
Environment=GF_DATABASE_USER=grafana

Secret=GRAFANA_POSTGRESQL__PASSWORD,type=env,target=GF_DATABASE_PASSWORD

Volume=grafana-storage.volume:/var/lib/grafana:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
