[Unit]
Description=Grafana quadlet
Requires=postgres.container
After=postgres.container

[Container]
Image=docker.io/grafana/grafana-oss@sha256:62a54c76afbeea0b8523b7afcd9e7ee1f0e39806035fd90ffc333a19e9358f2f

Network=apps.network
Network=db.network
NetworkAlias=grafana

Environment=GF_SERVER_ROOT_URL=https://grafana.nemnix.site/
Environment=GF_DATABASE_TYPE=postgres
Environment=GF_DATABASE_HOST=postgres:5432
Environment=GF_DATABASE_NAME=grafana
Environment=GF_DATABASE_USER=grafana

Environment=GF_AUTH_GENERIC_OAUTH_ENABLED=true
Environment=GF_AUTH_GENERIC_OAUTH_NAME=authentik
Environment=GF_AUTH_GENERIC_OAUTH_SCOPES=openid profile email
Environment=GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://idp.nemnix.site/application/o/authorize/
Environment=GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://idp.nemnix.site/application/o/token/
Environment=GF_AUTH_GENERIC_OAUTH_API_URL=https://idp.nemnix.site/application/o/userinfo/
Environment=GF_AUTH_SIGNOUT_REDIRECT_URL=https://idp.nemnix.site/application/o/grafana/end-session/
Environment=GF_AUTH_OAUTH_AUTO_LOGIN=true
Environment=GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH=contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'

Secret=GRAFANA_POSTGRESQL__PASSWORD,type=env,target=GF_DATABASE_PASSWORD
Secret=GRAFANA_OAUTH_CLIENT_ID,type=env,target=GF_AUTH_GENERIC_OAUTH_CLIENT_ID
Secret=GRAFANA_OAUTH_CLIENT_SECRET,type=env,target=GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET

Volume=grafana-storage.volume:/var/lib/grafana:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
