[Unit]
Description=PostgreSQL quadlet

[Container]
Image=docker.io/pgvector/pgvector@sha256:137f044b0efe3d57f39b972b9b53641b1f2045b99d879e298bbf514a25787dcf

Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD
Secret=N8N_POSTGRESQL__PASSWORD,type=env,target=N8N_POSTGRESQL__PASSWORD
Secret=IMMICH_POSTGRESQL__PASSWORD,type=env,target=IMMICH_POSTGRESQL__PASSWORD
Secret=AUTHENTIK_POSTGRESQL__PASSWORD,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD
Secret=LINKWARDEN_POSTGRESQL__PASSWORD,type=env,target=LINKWARDEN_POSTGRESQL__PASSWORD
Secret=PAPERLESS_POSTGRESQL__PASSWORD,type=env,target=PAPERLESS_POSTGRESQL__PASSWORD
Secret=GRAFANA_POSTGRESQL__PASSWORD,type=env,target=GRAFANA_POSTGRESQL__PASSWORD

Network=db.network
NetworkAlias=postgres

Volume=./init:/docker-entrypoint-initdb.d:Z
Volume=postgres-data.volume:/var/lib/postgresql/data:Z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
