[Unit]
Description=Valkey

[Container]
Image=docker.io/valkey/valkey@sha256:138afc759e46b92d99b9eae76e1bc1203bb5dcac8579473a30102f38fd2c12fb
Exec=valkey-server --supervised systemd

Network=db.network
NetworkAlias=valkey

HealthCmd=redis-cli ping || exit 1
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
