[Unit]
Description=PostgreSQL quadlet

[Container]
Image=docker.io/library/postgres:17.7-bookworm
AutoUpdate=registry

Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD
Secret=AUTHENTIK_POSTGRESQL__PASSWORD,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD
Secret=LINKWARDEN_POSTGRESQL__PASSWORD,type=env,target=LINKWARDEN_POSTGRESQL__PASSWORD

Network=db.network
NetworkAlias=postgres

Volume=./init:/docker-entrypoint-initdb.d:Z
Volume=postgres-data.volume:/var/lib/postgresql/data:Z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
