[Unit]
Description=PostgreSQL quadlet

[Container]
Image=docker.io/library/postgres:18
AutoUpdate=registry

EnvironmentFile=./postgres.env

Network=db

Volume=postgres-data.volume:/var/lib/postgresql/data:Z

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
